body {
  background-color: aqua; }

.container {
  padding: 0;
  margin: 0; }

.letter-item {
  border: 1px white solid;
  background: #1abc9c;
  text-align: center;
  line-height: 150px;
  width: 150px;
  height: 150px;
  font-size: 40px;
  cursor: pointer; }
  .letter-item:hover {
    background: #ecf0f1; }
